<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>

    <meta name="description" content="<%- description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="<%- name %>">
    <meta name="theme-color" content="aliceblue">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="<%- title %>">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">

    <% if (IS_PROD) { %> <link rel="manifest" href="manifest.json"> <% } %>

    <%- css %>
  </head>
  <body>
    <div id="app">
      <div><%- html %></div>
    </div>
    <% if (locals.initialPropsData) { %><script type="application/json" id="initialPropsData"><%- JSON.stringify(locals.initialPropsData) %></script><% } %>
    <script src="bundle.js"></script>
  </body>
</html>
