<!DOCTYPE html>
<html lang="en">
  <head>
    <%- locals.helmet.title.toString() %>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="">
    <meta name="theme-color" content="aliceblue">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%- locals.helmet.meta.toString() %>
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">
    <% if (locals.IS_PROD) { %><link rel="manifest" href="manifest.json"><% } %>
    <%- locals.helmet.link.toString() %>
    <% if (locals.css) { %><%- css %><% } %>
    <%- locals.helmet.style.toString() %>
    <%- locals.helmet.script.toString() %>
  </head>
  <body>
    <div id="app"><% if (locals.html) { %><div><%- html %></div><% } %></div>
    <% if (locals.initialPropsData) { %><script type="application/json" id="initialPropsData"><%- JSON.stringify(locals.initialPropsData) %></script><% } %>
    <% if (!locals.error) { %><script src="bundle.js"></script><% } %>
  </body>
</html>
