<!DOCTYPE html>
<html <%- locals.helmet && locals.helmet.htmlAttributes && helmet.htmlAttributes.toString() %>>
  <head>
    <% if (locals.IS_PROD) { %><link rel="manifest" href="/manifest.json"><% } %>
    <%- locals.helmet && locals.helmet.title && locals.helmet.title.toString() %>
    <%- locals.helmet && locals.helmet.meta && locals.helmet.meta.toString() %>
    <% if (!locals.error) { %><link href="/main.css" rel="stylesheet"/><% } %>
    <%- locals.helmet && locals.helmet.link && locals.helmet.link.toString() %>
    <% if (locals.css) { %><%- css %><% } %>
    <%- locals.helmet && locals.helmet.style && locals.helmet.style.toString() %>
  </head>
  <body <%- locals.helmet && locals.helmet.bodyAttributes && helmet.bodyAttributes.toString() %>>
    <div id="app"><%- locals.html %></div>
    <% if (locals.initialPropsData) { %><script type="application/json" id="initialPropsData"><%- JSON.stringify(locals.initialPropsData) %></script><% } %>
    <% if (!locals.error) { %><script src="/main.js"></script><% } %>
    <%- locals.helmet && locals.helmet.script && locals.helmet.script.toString() %>
  </body>
</html>
